h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  --brand-color: #212121;
  --text-color-1: #757575;
  --text-color-2: #ffffff;
  --text-color-3: rgba(255, 255, 255, 0.6);
  --text-hover-color: #2196f3;
  --brand-background-color: #ffffff;
  --background-color-1: #2f303a;
  --background-color-2: #f5f4fa;
  --background-color-3: #e5e5e5;
  --background-color-4: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
}

body {
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 400;
}
.page-header {
  background-color: var(--brand-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -25px;
  padding-top: 24px;
  margin: 0 auto;
  height: 80px;
}

.border-bottom {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  margin-right: 70px;
}
.web-part-of-logo {
  color: var(--text-hover-color);
}
.header-logo {
  display: flex;
  text-decoration: none;
  color: var(--brand-color);
  font-family: 'Raleway';
  margin-right: 70px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active::after {
  content: '';
  border-top: 4px solid var(--text-hover-color);
  width: 100%;
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  left: 0px;
  display: block;
}

a.menu-item.active {
  position: relative;
  top: 0;
  left: 0;
}

.menu-item {
  text-decoration: none;
  color: var(--brand-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 23px;
  margin-right: 23px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}

.header-contacts-item {
  text-decoration: none;
  color: var(--text_color_1);
  margin-left: 25px;
  margin-right: 25px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover,
.header-logo:focus,
.menu-item:hover,
.menu-item:focus,
.header-contacts-item:hover,
.header-contacts-item:focus,
.footer-logo:hover,
.footer-logo:focus {
  color: var(--text-hover-color);
}

.baner-section {
  background-color: var(--background-color-1);
  color: var(--text-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background-picture.jpg');
  background-repeat: no-repeat;
  max-width: 1600px;
  background-size: cover;
}

.baner-headline {
  color: var(--text-color-2);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
}

.button-zamow-usluge {
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--text-color-2);
  background-color: var(--text-hover-color);
  border: none;
  padding: 20px 41px 20px 42px;
}
.submenu-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-color-2);
  border: none;
  padding: 6px 22px 6px 22px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submenu-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.submenu-button:hover,
.submenu-button:focus {
  color: var(--text-color-2);
  background-color: var(--text-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.what-we-do-title,
.our-team-title,
.our-customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.our-team-title {
  justify-content: center;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.lorem-ipsum,
.what-we-do-section {
  background-color: var(--brand-background-color);
  justify-content: center;
}

.lorem-ipsum {
  padding-bottom: 0;
}

.lorem-ipsum-icon-card {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-2);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.lorem-ipsum-icon {
  width: 70px;
  height: 70px;
}

.lorem-ipsum-item,
.what-we-do-item,
.our-team-card,
.our-customers-item {
  margin-left: 15px;
  margin-right: 15px;
}

.lorem-ipsum-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.lorem-ipsum-subtitle {
  color: var(--text-color-1);
  line-height: 1.71;
  width: 270px;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.lorem-ipsum-list,
.what-we-do-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}

.our-team-container {
  background-color: var(--background-color-2);
}

.our-team-card-list,
.our-customers-list {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  align-items: center;
}
.what-we-do-item {
  position: relative;
  top: 0;
  left: 0;
}

.what-we-do-description {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.1721;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-2);
  padding: 27px;
  width: 100%;
  text-align: center;
}

.our-team-card {
  font-size: 16px;
  line-height: 1.357;
  letter-spacing: 0.03em;
  background-color: var(--brand-background-color);
  text-align: center;
}

.our-team-picture {
  margin: 0;
}

.our-team-name {
  font-weight: 500;
  margin-bottom: 10px;
}
.our-team-position {
  color: var(--text-color-1);
}

.our-customers-icon-card {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-color);
  justify-content: center;
  align-items: center;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-customers-icon {
  width: 106x;
  height: 60px;
}

.social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 30px;
  margin-left: -5px;
  margin-right: -5px;
}

.social-link-address:hover,
.social-link-address:focus,
.social-link-address-footer:hover,
.social-link-address-footer:focus {
  background-color: var(--text-hover-color);
  fill: var(--text-color-2);
}

.social-link-address:hover > .social-link-icon {
  fill: var(--text-color-2);
}

.social-link-icon {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-address {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--brand-background-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list-footer {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}
.join-us-section {
  width: 206px;
  height: 80px;
  padding-top: 72px;
  padding-bottom: 92px;
  margin-left: 70px;
}
.social-link-icon-footer {
  fill: var(--text-color-2);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-address-footer {
  display: flex;
  flex-direction: row;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--background-color-4);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.our-customers-icon-card:hover,
.our-customers-icon-card:focus {
  fill: var(--text-hover-color);
  border: 1px solid var(--text-hover-color);
}

.footer {
  color: var(--text-color-2);
  background-color: var(--background-color-1);
  line-height: 1.71;
}
.footer-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.footer-columns {
  display: flex;
}

.footer-logo {
  text-decoration: none;
  color: var(--text-color-2);
  padding-top: 60px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-details {
  color: var(--text-color-2);
  padding-top: 20px;
}
.footer-contacts {
  color: var(--text-color-3);
}
.footer-contacts-item {
  text-decoration: none;
  color: var(--text-color-3);
  margin-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-item:hover,
.footer-contacts-item:focus {
  color: var(--text-hover-color);
}

.portfolio-page-main {
  background-color: var(--brand-background-color);
}

.portfolio-picture {
  display: block;
}

.portfolio-page-description {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  position: relative;
  z-index: 1;
  background-color: var(--brand-background-color);
}

.portfolio-page-description-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-page-description-item {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color-1);
}

.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -15px -15px -15px -15px;
}

.portfolio-card-list-item {
  background-color: var(--brand-background-color);
  list-style: none;
  margin: 15px 15px 15px 15px;
  max-height: 404px;
}

.portfolio-page-card {
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-page-card:hover .overlay,
.portfolio-page-card:focus .overlay {
  transform: translatey(0%);
  cursor: default;
}

.portfolio-page-card:hover,
.portfolio-page-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 370px;
  height: 294px;
  transform: translatey(100%);
  transition: transform 250ms ease;
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-color-2);
  padding: 49px 45px 49px 24px;
}

.overlay-description {
  font-size: 18px;
  line-height: 1.555;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250s ease, visibility 250s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--brand-background-color);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--brand-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
}

@keyframes animate75 {
  0% {
    transform: scale(0.33);
  }

  50% {
    transform: scale(0.66);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate0 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.66);
  }

  100% {
    transform: scale(0, 33);
  }
}
