@charset "UTF-8";
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

:root {
  --brand-color: #212121;
  --text-color-1: #757575;
  --text-color-2: #ffffff;
  --text-color-3: rgba(255, 255, 255, 0.6);
  --text-hover-color: #2196f3;
  --brand-background-color: #ffffff;
  --background-color-1: #2f303a;
  --background-color-2: #f5f4fa;
  --background-color-3: #e5e5e5;
  --background-color-4: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 400;
}

/*responsywność obrazów*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}

.section {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1786;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767) {
  .section--footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
  }
}
.footer {
  color: var(--text-color-2);
  background-color: var(--background-color-1);
  line-height: 1.71;
}
.footer__container {
  padding-top: 60px;
}

/*mobile*/
@media screen and (max-width: 767px) {
  .footer__container {
    padding-bottom: 60px;
  }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 60px;
    align-items: baseline;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--brand-background-color);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .is-hidden {
  transform: translate(-50%, -50%) scale(0);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--brand-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
}
.modal__close-button-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
}

/*mobile and tablet*/
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
  .modal__close-button-icon:hover, .modal__close-button-icon:focus {
    fill: var(--text-hover-color);
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.pop-up-menu {
  /*tablet and desktop*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--brand-background-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .pop-up-menu {
    display: none;
  }
}
.pop-up-menu.is-open {
  transform: translateX(0);
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
}
.pop-up-menu__close-btn {
  width: 18.7px;
  height: 18.7px;
  position: absolute;
  top: 21px;
  right: 25.33px;
  display: flex;
  justify-content: center;
  border: none;
  background-color: var(--brand-background-color);
}
.pop-up-menu__x {
  fill: var(--brand-color);
}
.pop-up-menu__x:hover, .pop-up-menu__x:focus {
  fill: var(--text-hover-color);
}
.pop-up-menu__nav-list-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.172;
  margin-bottom: 36px;
}
.pop-up-menu__nav-list-item-link {
  text-decoration: none;
}
.pop-up-menu__nav-list-link {
  text-decoration: none;
  color: var(--brand-color);
}
.pop-up-menu__nav-list-link--active {
  color: var(--text-hover-color);
}
.pop-up-menu__contact-list {
  margin-top: 266px;
  font-weight: 500;
  line-height: 1.172;
}
.pop-up-menu__contact-list-phone {
  margin-bottom: 32px;
}
.pop-up-menu__contact-list-mail {
  margin-bottom: 64px;
}
.pop-up-menu__contact-list-link-phone {
  font-size: 34px;
  color: var(--text-hover-color);
  text-decoration: none;
}
.pop-up-menu__contact-list-link-mail {
  font-size: 24px;
  color: var(--text-color-1);
  text-decoration: none;
}
.pop-up-menu__social {
  display: flex;
  display: row;
  flex-wrap: wrap;
}
.pop-up-menu__social-item {
  color: var(--text-hover-color);
  font-size: 18px;
}
.pop-up-menu__social-item::after {
  content: "";
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin: 0 10px;
}

.mobile-menu-nav {
  margin-left: auto;
  /*tablet and desktop*/
}
@media screen and (min-width: 768px) {
  .mobile-menu-nav {
    display: none;
  }
}
.mobile-menu-nav__button {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.mobile-menu-nav__icon {
  width: 24px;
  fill: var(--brand-color);
}
.mobile-menu-nav__icon:hover, .mobile-menu-nav__icon:focus {
  fill: var(--text-hover-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form {
  margin: 0px;
}
.contact-form__headline {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.contact-form__label {
  color: var(--text-color-1);
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  margin-top: 12px;
  display: block;
  justify-content: flex-start;
  text-align: left;
  margin-left: 40px;
  position: relative;
}
.contact-form__label:focus-within {
  border-color: var(--text-hover-color);
  color: var(--text-hover-color);
  outline: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__label:focus-within .contact-form__input {
  border-color: var(--text-hover-color);
  color: var(--text-hover-color);
  outline: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__label:focus-within .contact-form__icon {
  fill: var(--text-hover-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input {
  display: block;
  /*width: 448px;*/
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
}
.contact-form__comment {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: block;
  padding: 12px 16px;
  color: var(--text-color-1);
  resize: none;
  margin-top: 4px;
}
.contact-form__comment:focus-within {
  border-color: var(--text-hover-color);
  outline: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__icon {
  top: 32px;
  left: 15px;
  position: absolute;
}
.contact-form__icon--user-icon {
  width: 12px;
  height: 12px;
}
.contact-form__icon--telephone-icon {
  width: 13px;
  height: 13px;
}
.contact-form__icon--e-mail-icon {
  width: 15px;
  height: 12px;
  border: none;
}

/*mobile and tablet*/
@media screen and (max-width: 1199px) {
  .contact-form__headline {
    line-height: 1.5;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    width: 370px;
    height: 60px;
    padding: 5px 26px 5px 26px;
    text-align: center;
  }
  .contact-form__input {
    display: block;
    width: 370px;
  }
  .contact-form__comment {
    width: 370px;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  .contact-form__headline {
    line-height: 1.172;
    margin-top: 40px;
  }
  .contact-form__input {
    display: block;
    width: 448px;
  }
  .contact-form__comment {
    width: 448px;
  }
}
/*.contact-form .contact-form__label:focus-within {
  color: var(--text-hover-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__label:focus-within .contact-form__icon {
  fill: var(--text-hover-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

  contact-form_label:focus-within .contact-form__input {
    border-color: var(--text-hover-color);
    color: var(--text-hover-color);
    outline: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}*/
.social-links {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}
.social-links--card-list {
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding-bottom: 24px;
}
.social-links__icon {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__address {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--brand-background-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__address:hover, .social-links__address:focus {
  background-color: var(--text-hover-color);
  fill: var(--text-color-2);
}
.social-links__address:hover > .social-links__icon {
  fill: var(--text-color-2);
}

/*mobile*/
@media screen and (max-width: 767px) {
  .social-links {
    justify-content: center;
    align-items: center;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) and (max-width: 1999px) {
  .social-links--card-list {
    padding-bottom: 30px;
  }
}
/*
.social-links__address:hover > .social-links__icon {
  fill: var(--text-color-2);
}*/
.button {
  width: 200px;
  height: 50px;
  background: var(--text-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-color-2);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  border: none;
} /*# sourceMappingURL=buttons.css.map */
.logo {
  font-family: "Raleway";
  letter-spacing: 0.03em;
  line-height: 1.38;
  /*mobile*/
  /*tablet and desktop*/
}
@media screen and (max-width: 767px) {
  .logo {
    font-weight: 400;
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 70px;
    font-weight: 700;
    font-size: 24px;
  }
}
.logo__web-part {
  color: var(--text-hover-color);
}

.newsletter-form {
  /*margin-left: auto;*/
}
.newsletter-form__button {
  position: relative;
}
.newsletter-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--background-color-1);
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: var(--text-color-3);
}
.newsletter-form__icon {
  width: 24px;
  height: 24px;
  fill: var(--text-color-2);
  position: absolute;
  top: 13px;
  right: 28px;
}

/*mobile*/
@media screen and (max-width: 767px) {
  .newsletter-form {
    display: block;
    text-align: center;
  }
  .newsletter-form__input {
    max-width: 450px;
  }
  .newsletter-form__button {
    margin-top: 20px;
    display: block;
    margin: 20px auto;
  }
  .newsletter-form__container {
    width: 100%;
  }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .newsletter-form__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
  .newsletter-form__button {
    margin-top: 20px;
  }
  .newsletter-form__input {
    min-width: 450px;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  .newsletter-form {
    padding-bottom: 92px;
    margin-left: 70px;
    margin-left: auto;
  }
  .newsletter-form__container {
    display: flex;
    flex-direction: row;
  }
  .newsletter-form__button {
    position: relative;
    padding-right: 76px;
    padding-left: 42px;
  }
  .newsletter-form__input {
    margin-right: 12px;
    width: 358px;
  }
}
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-container__regulations-and-privacy-policy {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.checkbox-container__regulations-and-privacy-policy::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--brand-color);
  margin-right: 8px;
  cursor: pointer;
}
.checkbox-container__regulations-and-privacy-policy a {
  color: var(--text-hover-color);
  line-height: 1.7143;
}
.checkbox-container__submit-button {
  margin: 30px 164px 40px 164px;
}
.checkbox-container__policy-text {
  opacity: 0;
}
.checkbox-container__policy-text:checked {
  opacity: 0;
}
.checkbox-container .checkbox-container__policy-text:checked + .checkbox-container__regulations-and-privacy-policy::before {
  background-image: url("../images/icon-tick.svg");
  background-color: var(--text-hover-color);
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.checkbox-container .checkbox-container__policy-text:checked:focus + .checkbox-container__regulations-and-privacy-policy::before {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*mobile*/
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu__item {
  text-decoration: none;
  color: var(--brand-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 23px;
  margin-right: 23px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__item:hover, .menu__item:focus {
  color: var(--text-hover-color);
}
.menu__item--active {
  position: relative;
  top: 0;
  left: 0;
}
.menu__item--active::after {
  content: "";
  border-top: 4px solid var(--text-hover-color);
  width: 100%;
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  left: 0px;
  display: block;
}

.header-contacts {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  /*mobile*/
  /*tablet*/
}
@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    flex-direction: column;
    display: flex;
  }
}
.header-contacts__item {
  text-decoration: none;
  color: var(--text_color_1);
  margin-left: 25px;
  margin-right: 25px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*tablet*/
}
.header-contacts__item:hover, .header-contacts__item:focus {
  color: var(--text-hover-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__icon--envelope {
  width: 16px;
  height: 12px;
}
.header-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
}

.page-header {
  background-color: var(--brand-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -25px;
  margin: 0 auto;
  height: 80px;
  /*
  /*mobile
  @media screen and (max-width: 767px) {
    .
    }
  }

  /*tablet
  @media screen and (min-width: 768px) and (max-width: 1199px) {

    }
  }

  /*desktop*
  @media screen and (min-width: 1200px) {

      }
    }
  }*/
  /*.page-header__logo:hover,
  .page-header__logo:focus,
  .menu__item:hover,
  .menu__item:focus,
  .header-contacts__item:hover,
  .header-contacts__item:focus {
    color: var(--text-hover-color);
  }*/
}
.page-header__logo {
  display: flex;
  text-decoration: none;
  color: var(--brand-color);
  font-family: "Raleway";
  margin-right: 70px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__logo:hover, .page-header__logo:focus {
  color: var(--text-hover-color);
}
.page-header__border-bottom {
  border-bottom: 1px solid #ececec;
}

.baner {
  background-color: var(--background-color-1);
  color: var(--text-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.baner__headline {
  color: var(--text-color-2);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.baner__button {
  margin-top: 30px;
}

/*@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .baner {
      background-image: url('../images/backgound-mobile@2x.jpg');
    }
  }*/
@media screen and (max-width: 767px) {
  .baner {
    margin: 0 auto;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-mobile.jpg");
    /*width: 100%;*/
    height: 400px;
    background-position: center top;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-mobile@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .baner__headline {
    font-size: 26px;
    line-height: 1.6154;
    max-width: 365px;
  }
}
@media screen and (min-width: 768px) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-tablet.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-tablet@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .baner__headline {
    font-size: 26px;
    line-height: 1.6154;
    max-width: 365px;
  }
}
@media screen and (min-width: 1200px) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-picture.jpg");
    background-size: cover;
    max-width: 1600px;
    height: 600px;
  }
  .baner__headline {
    color: var(--text-color-2);
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
/*DESKTOP*/
/*.baner {
  background-color: var(--background-color-1);
  color: var(--text-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background-picture.jpg');
  background-repeat: no-repeat;
  max-width: 1600px;
  background-size: cover;

  &__headline {
    color: var(--text-color-2);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
  }

  &__button {
    margin-top: 30px;
  }
}*/
.lorem-ipsum {
  background-color: var(--brand-background-color);
  margin: 0 auto;
}
.lorem-ipsum__icon {
  width: 70px;
  height: 70px;
}
.lorem-ipsum__icon-card {
  display: flex;
  height: 120px;
  background-color: var(--background-color-2);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.lorem-ipsum__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem-ipsum__list {
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 768px), (min-width: 1200px) {
  .lorem-ipsum__list {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.lorem-ipsum__title {
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .lorem-ipsum__title {
    text-align: center;
  }
}
.lorem-ipsum__subtitle {
  color: var(--text-color-1);
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.lorem-ipsum__item {
  margin-bottom: 30px;
  /*tablet i desktop*/
  /*tablet*/
}
@media screen and (max-width: 767px) {
  .lorem-ipsum__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .lorem-ipsum__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px), (min-width: 1200px) {
  .lorem-ipsum__item {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .lorem-ipsum__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .lorem-ipsum__item {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/*
  /*desktop*
  @media screen and (min-width: 1200px) {
    .lorem-ipsum {
      padding-bottom: 0;

      &__icon-card {
        display: flex;
        width: 270px;
      }
      &__subtitle {
        width: 270px;
        height: 75px;
        margin-bottom: 0;
      }
    }
  }
  /*.lorem-ipsum {
  padding-bottom: 0;
  background-color: var(--brand-background-color);
  justify-content: center;

  &__icon-card {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--background-color-2);
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__item {
    margin-left: 15px;
    margin-right: 15px;
  }

  &__title {
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__subtitle {
    color: var(--text-color-1);
    line-height: 1.71;
    width: 270px;
    letter-spacing: 0.03em;
    margin-top: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
}*/
.what-we-do {
  background-color: var(--brand-background-color);
  justify-content: center;
}
.what-we-do img {
  width: 370px;
  height: 294px;
}
.what-we-do__item {
  margin-left: 15px;
  margin-right: 15px;
}
.what-we-do__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.what-we-do__item {
  position: relative;
  top: 0;
  left: 0;
}
.what-we-do__description {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.1721;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-2);
  padding: 27px;
  width: 100%;
  text-align: center;
}

/*mobile*/
@media screen and (max-width: 767px) {
  .what-we-do {
    display: none;
  }
}
/*tablet*/
@media screen and (min-width: 768px) {
  .what-we-do {
    display: none;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: contents;
  }
}
/*.what-we-do {
  background-color: var(--brand-background-color);
  justify-content: center;

  &__item {
    margin-left: 15px;
    margin-right: 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__item {
    position: relative;
    top: 0;
    left: 0;
  }

  &__description {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.1721;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-2);
    padding: 27px;
    width: 100%;
    text-align: center;
  }
}*/
.our-team {
  background-color: var(--background-color-2);
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .our-team {
    margin-top: 94px;
  }
}
.our-team__img {
  margin: 0;
  padding: 0;
}
.our-team_title {
  justify-content: center;
}
.our-team__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .our-team__card-list {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.our-team__card-item {
  font-size: 16px;
  line-height: 1.357;
  letter-spacing: 0.03em;
  background-color: var(--brand-background-color);
  text-align: center;
  margin-bottom: 30px;
  /*tablet i desktop*/
  /*tablet*/
}
@media screen and (max-width: 767px) {
  .our-team__card-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .our-team__card-item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .our-team__card-item {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .our-team__card-item {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .our-team__card-item {
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
  }
}
.our-team__picture {
  margin: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__name {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .our-team__name {
    font-weight: 500;
    line-height: 1.1719;
  }
}
.our-team__name__position {
  color: var(--text-color-1);
}

/*
/*tablet
@media screen and (min-width: 768px) {
  .our-team__card-list {
    margin-left: -15px;
    margin-right: -15px;
    .our-team__card-item {
      flex: 0050%;
      width: 50%;
      font-size: 16px;
      line-height: 1.357;
      letter-spacing: 0.03em;
      background-color: var(--brand-background-color);
      text-align: center;
    }
    /*.our-team__picture {
    flex-basis: calc(100% / 2);
  }*/
/*.our-team {
  background-color: var(--background-color-2);

  &_title {
    justify-content: center;
  }

  &__card-list {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
    align-items: center;
  }

  &__card-item {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    line-height: 1.357;
    letter-spacing: 0.03em;
    background-color: var(--brand-background-color);
    text-align: center;
  }

  &__picture {
    margin: 0;
  }

  &__name {
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__position {
    color: var(--text-color-1);
  }*/
/*ul*/
.our-customers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  /*li*/
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-customers {
    padding-bottom: 60px;
  }
}
.our-customers__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .our-customers__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .our-customers__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.our-customers__icon-card {
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-color);
  justify-content: center;
  align-items: center;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers__icon-card:hover, .our-customers__icon-card:focus {
  fill: var(--text-hover-color);
  border: 1px solid var(--text-hover-color);
}
.our-customers__icon {
  width: 106px;
  height: 60px;
}

/*
/*mobile*
@media screen and (max-width: 767px) {
  .our-customers__icon-card {
    width: 210px;
    margin-bottom: 30px;
  }

  .our-customers {
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

/*tablet*
@media screen and (min-width: 768px) {
  .our-customers__icon-card {
    width: 226px;
    margin-bottom: 30px;
  }
  .our-customers {
    flex-wrap: wrap;
  }
}

/*desktop*
@media screen and (min-width: 1200px) {
  .our-customers__icon-card {
    width: 170px;
    margin-bottom: 30px;
  }
  .our-customers {
    flex-wrap: nowrap;
  }
*/
.footer-logo-section__logo {
  text-decoration: none;
  color: var(--text-color-2);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo-section__logo:hover, .footer-logo-section__logo:focus {
  color: var(--text-hover-color);
}
.footer-logo-section__address-details {
  color: var(--text-color-2);
  padding-top: 20px;
}
.footer-logo-section__contacts {
  color: var(--text-color-3);
}
.footer-logo-section__contacts-item {
  text-decoration: none;
  color: var(--text-color-3);
  margin-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo-section__contacts-item:hover, .footer-logo-section__contacts-item:focus {
  color: var(--text-hover-color);
}

/*mobile*/
@media screen and (max-width: 767px) {
  .footer-logo-section {
    text-align: center;
    margin-bottom: 60px;
  }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-logo-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 60px;
    width: 253px;
    height: 79px;
  }
  .logo {
    margin-right: 0;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  .footer-logo-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }
}
/*.footer-logo-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  &__logo {
    text-decoration: none;
    color: var(--text-color-2);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
  }

  &__address-details {
    color: var(--text-color-2);
    padding-top: 20px;
  }

  &__contacts {
    color: var(--text-color-3);
  }

  &__contacts-item {
    text-decoration: none;
    color: var(--text-color-3);
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
  }
}
*/
.join-us-section__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*mobile*/
@media screen and (max-width: 767px) {
  .join-us-section__title {
    text-align: center;
  }
  .join-us-section {
    margin-bottom: 60px;
  }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 102px;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  .join-us-section {
    width: 206px;
    height: 80px;
    padding-bottom: 92px;
    margin-left: 70px;
    margin-right: 78px;
  }
}
/*.join-us-section {
  width: 206px;
  height: 80px;
  padding-bottom: 92px;
  margin-left: 70px;

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1721;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}*/
.social-links__icon--footer {
  fill: var(--text-color-2);
}

.social-links__address--footer {
  background-color: var(--background-color-4);
}

.portfolio-main {
  background-color: var(--brand-background-color);
}

/*ul*/
.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 30px;
  /*li*/
}
@media screen and (min-width: 1200px) {
  .portfolio-gallery__description {
    padding-bottom: 20px;
  }
}
.portfolio-gallery__picture {
  display: block;
}
.portfolio-gallery__description {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  position: relative;
  z-index: 1;
  background-color: var(--brand-background-color);
}
.portfolio-gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-gallery__subtitle {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color-1);
}
.portfolio-gallery__item {
  background-color: var(--brand-background-color);
  list-style: none;
  /*tablet*/
  /*desktop*/
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-gallery__item {
    flex-basis: calc((100% - 30px) / 2);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-gallery__item {
    flex-basis: calc((100% - 60px) / 3);
    gap: 60px;
  }
}
.portfolio-gallery__card {
  margin: 0px;
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-gallery__card:hover, .portfolio-gallery__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-gallery__card:hover .portfolio-gallery__overlay, .portfolio-gallery__card:focus .portfolio-gallery__overlay {
  transform: translatey(0%);
  cursor: default;
}
.portfolio-gallery__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transform: translatey(100%);
  transition: transform 250ms ease;
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-color-2);
  padding: 49px 45px 49px 24px;
}
.portfolio-gallery__overlay-description {
  font-size: 18px;
  line-height: 1.555;
}

/*mobile*/
@media screen and (max-width: 767px) {
  .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -15px -15px -15px -15px;
  }
  .portfolio-gallery__description {
    padding-bottom: 20px;
  }
}
/*
.portfolio-gallery__card:hover .portfolio-gallery__overlay,
.portfolio-gallery__card:focus .portfolio-gallery__overlay {
  transform: translatey(0%);
  cursor: default;*/
.portfolio-submenu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.portfolio-submenu-list__submenu-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-color-2);
  border: none;
  padding: 6px 22px 6px 22px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.portfolio-submenu-list__submenu-button:hover, .portfolio-submenu-list__submenu-button:focus {
  color: var(--text-color-2);
  background-color: var(--text-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*mobile*/
@media screen and (max-width: 767px) {
  .portfolio-submenu-list {
    padding-bottom: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .portfolio-submenu-list__submenu-button {
    margin-bottom: 15px;
    margin-right: 4px;
    margin-left: 4px;
  }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-submenu-list {
    display: flex;
    margin-bottom: 30px;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  .portfolio-submenu-list {
    justify-content: center;
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=main.css.map */