.footer-logo-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  &__logo {
    text-decoration: none;
    color: var(--text-color-2);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
  }

  &__address-details {
    color: var(--text-color-2);
    padding-top: 20px;
  }

  &__contacts {
    color: var(--text-color-3);
  }

  &__contacts-item {
    text-decoration: none;
    color: var(--text-color-3);
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
  }
}
