.footer-logo-section {
  &__logo {
    text-decoration: none;
    color: var(--text-color-2);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
  }

  &__address-details {
    color: var(--text-color-2);
    padding-top: 20px;
  }

  &__contacts {
    color: var(--text-color-3);
  }

  &__contacts-item {
    text-decoration: none;
    color: var(--text-color-3);
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
  }
}

/*mobile*/
@media screen and (max-width: 767px) {
  .footer-logo-section {
    text-align: center;
    margin-bottom: 60px;
  }
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-logo-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 60px;
    width: 253px;
    height: 79px;
  }
  .logo {
    margin-right: 0;
  }
}

/*desktop*/
@media screen and (min-width: 1200px) {
  .footer-logo-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }
}

/*.footer-logo-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  &__logo {
    text-decoration: none;
    color: var(--text-color-2);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
  }

  &__address-details {
    color: var(--text-color-2);
    padding-top: 20px;
  }

  &__contacts {
    color: var(--text-color-3);
  }

  &__contacts-item {
    text-decoration: none;
    color: var(--text-color-3);
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
  }
}
*/
