.page-header {
  background-color: var(--brand-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -25px;
  margin: 0 auto;
  height: 80px;

  &__logo {
    display: flex;
    text-decoration: none;
    color: var(--brand-color);
    font-family: 'Raleway';
    margin-right: 70px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
  }

  /*
/*mobile
@media screen and (max-width: 767px) {
  .
  }
}

/*tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
  
  }
}

/*desktop*
@media screen and (min-width: 1200px) {
  
    }
  }
}*/

  /*.page-header__logo:hover,
.page-header__logo:focus,
.menu__item:hover,
.menu__item:focus,
.header-contacts__item:hover,
.header-contacts__item:focus {
  color: var(--text-hover-color);
}*/

  &__border-bottom {
    border-bottom: 1px solid #ececec;
  }
}
