.join-us-section {
  /*width: 206px;
  height: 80px;*/
  /*padding-bottom: 92px;
  margin-left: 70px;*/

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1721;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
/*mobile*/
@media screen and (max-width: 767px) {
  .join-us-section__title {
    text-align: center;
  }
  .join-us-section {
    margin-bottom: 60px;
  }
}

/*tablet*/
@media screen and (min-width: 768px) {
}

/*desktop*/
@media screen and (min-width: 1200px) {
  .join-us-section {
    width: 206px;
    height: 80px;
    padding-bottom: 92px;
    margin-left: 70px;
    margin-right: 78px;
  }
}
/*.join-us-section {
  width: 206px;
  height: 80px;
  padding-bottom: 92px;
  margin-left: 70px;

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1721;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}*/
