.join-us-section {
  width: 206px;
  height: 80px;
  padding-bottom: 92px;
  margin-left: 70px;

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1721;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
