.lorem-ipsum {
  background-color: var(--brand-background-color);
  justify-content: center;
  margin: 0 auto;

  &__icon-card {
    display: flex;
    height: 120px;
    background-color: var(--background-color-2);
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__subtitle {
    color: var(--text-color-1);
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .lorem-ipsum__icon-card {
    width: 450px;
    flex-basis: calc(100% / 2);
    margin-top: not(1n) 30px;
  }
  .lorem-ipsum__title {
    text-align: center;
  }
  .lorem-ipsum__subtitle {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .lorem-ipsum__icon-card {
    width: 354px;
    flex-basis: calc(100% / 2);
    margin-top: not(1n) 30px;
  }
  .lorem-ipsum__subtitle {
    width: 354px;
    margin-bottom: 30px;
  }
  .lorem-ipsum__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
  .lorem-ipsum__item {
    margin-left: 15px;
    margin-right: 15px;
  }
}
/*desktop*/
@media screen and (min-width: 1200px) {
  .lorem-ipsum {
    padding-bottom: 0;

    &__icon-card {
      display: flex;
      width: 270px;
    }
    &__subtitle {
      width: 270px;
      height: 75px;
      margin-bottom: 0;
    }
  }
}
/*.lorem-ipsum {
  padding-bottom: 0;
  background-color: var(--brand-background-color);
  justify-content: center;

  &__icon-card {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--background-color-2);
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__item {
    margin-left: 15px;
    margin-right: 15px;
  }

  &__title {
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__subtitle {
    color: var(--text-color-1);
    line-height: 1.71;
    width: 270px;
    letter-spacing: 0.03em;
    margin-top: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
}*/
