.our-team {
  background-color: var(--background-color-2);

  &_title {
    justify-content: center;
  }
  &__card-list {
    /*display: flex;*/
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
    align-items: center;
  }

  &__card-item {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    line-height: 1.357;
    letter-spacing: 0.03em;
    background-color: var(--brand-background-color);
    text-align: center;
  }

  &__picture {
    margin: 0;
  }

  &__name {
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__position {
    color: var(--text-color-1);
  }
}
/*mobile*/
@media screen and (max-width: 767px) {
  .our-team__card-item {
    display: block;
  }
}

/*tablet*/
@media screen and (min-width: 768px) {
  .our-team__card-list {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
    align-items: center;
  }
  .our-team__card-item {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    line-height: 1.357;
    letter-spacing: 0.03em;
    background-color: var(--brand-background-color);
    text-align: center;
  }
}

/*desktop
@media screen and (min-width: 1200px) {
  .our-team__card-list {
  }
  .our-team__card-item {
  }
}*/

/*.our-team {
  background-color: var(--background-color-2);

  &_title {
    justify-content: center;
  }

  &__card-list {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
    align-items: center;
  }

  &__card-item {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    line-height: 1.357;
    letter-spacing: 0.03em;
    background-color: var(--brand-background-color);
    text-align: center;
  }

  &__picture {
    margin: 0;
  }

  &__name {
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__position {
    color: var(--text-color-1);
  }*/
