.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &__regulations-and-privacy-policy {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  &__regulations-and-privacy-policy a {
    color: var(--text-hover-color);
    line-height: 1.7143;
  }

  &__submit-button {
    margin: 30px 164px 40px 164px;
  }

  &__regulations-and-privacy-policy::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 15px;
    border: 1px solid var(--brand-color);
    margin-right: 8px;
    cursor: pointer;
  }

  &__policy-text:checked {
    opacity: 0;
  }

  &__policy-text {
    opacity: 0;
  }
}
.checkbox-container__policy-text:checked
  + .checkbox-container__regulations-and-privacy-policy::before {
  background-image: url('../images/icon-tick.svg');
  background-color: var(--text-hover-color);
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkbox-container__policy-text:checked:focus
  + .checkbox-container__regulations-and-privacy-policy::before {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
