.header-contacts {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;

  &__item {
    text-decoration: none;
    color: var(--text_color_1);
    margin-left: 25px;
    margin-right: 25px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &--envelope {
      width: 16px;
      height: 12px;
    }
    &--smartphone {
      width: 10px;
      height: 16px;
    }
  }
}
