.menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__item {
    text-decoration: none;
    color: var(--brand-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 23px;
    margin-right: 23px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
    &--active {
      position: relative;
      top: 0;
      left: 0;
    }
    &--active::after {
      content: '';
      border-top: 4px solid var(--text-hover-color);
      width: 100%;
      border-radius: 2px;
      position: absolute;
      bottom: -32px;
      left: 0px;
      display: block;
    }
  }
}
