.header-contacts {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  /*mobile*/
  @media screen and (max-width: 767px) {
    display: none;
  }
  /*tablet*/
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    display: flex;
  }

  &__list {
    /*tablet and desktop*/
    @media screen and (min-width: 768px) {
      display: flex;
      align-content: center;
    }
  }

  &__item {
    text-decoration: none;
    color: var(--text_color_1);
    margin-left: 25px;
    margin-right: 25px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-hover-color);
    }
    /*tablet*/
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &--envelope {
      width: 16px;
      height: 12px;
    }
    &--smartphone {
      width: 10px;
      height: 16px;
    }
  }
}
