.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;

  &__web-part {
    color: var(--text-hover-color);
  }
}
/*mobile*/
@media screen and (max-width: 767px) {
  .logo {
    margin-right: auto;
  }
}

/*desktop*/
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 70px;
  }
}
