.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  margin-right: 70px;

  &__web-part {
    color: var(--text-hover-color);
  }
}
