.mobile-menu-nav {
  margin-left: auto;
  /*tablet and desktop*/
  @media screen and (min-width: 768px) {
    display: none;
  }

  &__button {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  &__icon {
    width: 24px;
    fill: var(--brand-color);
    &:hover,
    &:focus {
      fill: var(--text-hover-color);
    }
  }
}
