.footer {
  color: var(--text-color-2);
  background-color: var(--background-color-1);
  line-height: 1.71;

  &__container {
    padding-top: 60px;
  }
}
/*mobile*/
@media screen and (max-width: 767px) {
  .footer__container {
    padding-bottom: 60px;
  }
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
  }
}

/*desktop*/
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 60px;
    align-items: baseline;
  }
}
