.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1786;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 767) {
  .section--footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    &__title {
      font-size: 36px;
      line-height: 1.166;
      letter-spacing: 0.03em;
      margin-bottom: 50px;
    }
  }
}
