.portfolio-main {
  background-color: var(--brand-background-color);
}

.portfolio-gallery {
  /*align-items: center;
  justify-content: center;*/
  margin: -15px -15px -15px -15px;

  /*&__picture {
    display: block;
  }*/

  &__description {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #eeeeee;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #eeeeee;
    position: relative;
    z-index: 1;
    background-color: var(--brand-background-color);
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--text-color-1);
  }

  &__item {
    background-color: var(--brand-background-color);
    list-style: none;
    margin: 15px 15px 15px 15px;
    max-height: 404px;
  }

  &__card {
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      .portfolio-gallery__overlay {
        transform: translatey(0%);
        cursor: default;
      }
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translatey(100%);
    transition: transform 250ms ease;
    background: rgba(33, 150, 243, 0.9);
    color: var(--text-color-2);
    padding: 49px 45px 49px 24px;
  }

  &__overlay-description {
    font-size: 18px;
    line-height: 1.555;
  }
}

/*mobile*/
@media screen and (max-width: 767px) {
  .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__overlay {
      width: 450px;
      height: 294px;
    }
  }
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__overlay {
      width: 354px;
      height: 374px;
    }
  }
}

/*desktop*/
@media screen and (min-width: 1200px) {
  .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -15px -15px -15px -15px;
    &__overlay {
      width: 370px;
      height: 294px;
    }
  }
}

/*
.portfolio-gallery__card:hover .portfolio-gallery__overlay,
.portfolio-gallery__card:focus .portfolio-gallery__overlay {
  transform: translatey(0%);
  cursor: default;*/
