:root {
  --brand-color: #212121;
  --text-color-1: #757575;
  --text-color-2: #ffffff;
  --text-color-3: rgba(255, 255, 255, 0.6);
  --text-hover-color: #2196f3;
  --brand-background-color: #ffffff;
  --background-color-1: #2f303a;
  --background-color-2: #f5f4fa;
  --background-color-3: #e5e5e5;
  --background-color-4: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
}
